{% extends 'base.html' %} 

{% load static %} 

{% block title %} Doctor {% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/doctrs.css' %}"/>
<div class="doctor-container mt-2">
  <div class="doctor-div">
    <h1 class="text">Our Doctors</h1>
    <h5>Know more our doctors</h5>
  </div>
</div>
<div class="container-fluid">
  <div class="row mt-4 mb-4" style="row-gap:20px;">
    {% for doct in doctors %}
    <div class="col-xl-4 col-md-6 col-12">
      <div class="card docard shadow border-1 text-center"
        style="width: 100%; height: 100%;">
        <img src="{{doct.doct_image.url}}"
          class="card-img-top docpic shadow img-fluid rounded-circle mx-auto d-block border border-light border-3"
          style="border-radius: 50%;" alt="..."/>
        <div class="card-body">
          <h5 class="card-title">{{doct.doct_name}}</h5>
          <p class="card-text">{{doct.doct_specialization}}</p>
          <h6 class="card-title">Department: {{doct.doct_department}}</h6>
          <hr class="hrline">
          <a href="{% url 'booking' %}" class="btn btn-outline-primary btn-block btn-rounded fs-size-btn doc_book_btn">Book An Appointment</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
